body, html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

#gamepadCanvasContainer {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

#gametypeDisplay {
    color: green;
    height: 25px;
    left: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
}

#scoreboard {
    color: green;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

a { color: white; }